:root {
	--delay: 500ms;
}

.cpicker {
	display: none;
}
.cpicker--active {
	display: block;
}
.cpicker .step__number {
	visibility: hidden;
	animation-name: show;
	animation-delay: var(--delay);
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

.cpicker .step__title span {
	visibility: hidden;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
	animation-name: show;
}

/* First */
.cpicker .step__title span:nth-child(1) {
	animation-delay: calc(var(--delay) + 100ms);
}
.cpicker .step__title span:nth-child(2) {
	animation-delay: calc(var(--delay) + 200ms);
}
.cpicker .step__title span:nth-child(3) {
	animation-delay: calc(var(--delay) + 250ms);
}
.cpicker .step__title span:nth-child(4) {
	animation-delay: calc(var(--delay) + 300ms);
}
.cpicker .step__title span:nth-child(5) {
	animation-delay: calc(var(--delay) + 400ms);
}

/* , */
.cpicker .step__title span:nth-child(6) {
	animation-delay: calc(var(--delay) + 500ms);
}

/* pick */
.cpicker .step__title span:nth-child(7) {
	animation-delay: calc(var(--delay) + 850ms);
}
.cpicker .step__title span:nth-child(8) {
	animation-delay: calc(var(--delay) + 875ms);
}
.cpicker .step__title span:nth-child(9) {
	animation-delay: calc(var(--delay) + 900ms);
}
.cpicker .step__title span:nth-child(10) {
	animation-delay: calc(var(--delay) + 950ms);
}

/* a */
.cpicker .step__title span:nth-child(11) {
	animation-delay: calc(var(--delay) + 1200ms);
}

/* color */
.cpicker .step__title span:nth-child(12) {
	animation-delay: calc(var(--delay) + 1250ms);
}
.cpicker .step__title span:nth-child(13) {
	animation-delay: calc(var(--delay) + 1300ms);
}
.cpicker .step__title span:nth-child(14) {
	animation-delay: calc(var(--delay) + 1350ms);
}
.cpicker .step__title span:nth-child(15) {
	animation-delay: calc(var(--delay) + 1400ms);
}
.cpicker .step__title span:nth-child(16) {
	animation-delay: calc(var(--delay) + 1450ms);
}

.cpicker__colors {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100px;
    overflow: hidden;
}
.cpicker .color {
	transform: translateY(70px);
	animation-duration: 250ms;
	animation-fill-mode: forwards;
	animation-name: slideup;
	transition: all 250ms ease-out;
}
.cpicker .color:hover {
    margin-top: 15px;
    box-shadow: 0px 10px 8px 1px whitesmoke;
}
.cpicker .color:nth-child(1) {
	animation-delay: calc(var(--delay) + 1500ms)
}
.cpicker .color:nth-child(2) {
	animation-delay: calc(var(--delay) + 1550ms)
}
.cpicker .color:nth-child(3) {
	animation-delay: calc(var(--delay) + 1600ms)
}
.cpicker .color:nth-child(4) {
	animation-delay: calc(var(--delay) + 1650ms)
}
.cpicker .color:nth-child(5) {
	animation-delay: calc(var(--delay) + 1700ms)
}
.cpicker .color:nth-child(6) {
	animation-delay: calc(var(--delay) + 1750ms)
}
.cpicker .color:nth-child(7) {
	animation-delay: calc(var(--delay) + 1800ms)
}
.cpicker .color:nth-child(8) {
	animation-delay: calc(var(--delay) + 1850ms)
}
.cpicker .color:nth-child(9) {
	animation-delay: calc(var(--delay) + 1900ms)
}
.cpicker .color:nth-child(10) {
	animation-delay: calc(var(--delay) + 1950ms)
}

@keyframes slideup {
	to { transform: translateY(0); }
}

@media all and (max-width: 768px) {
    .cpicker__colors {
		height: auto;
		overflow: unset;
	}
	.cpicker .color {
		animation: none;
		transform: translateY(0);
	}
}
