.gallery {
	display: none;
}
.gallery--active {
	display: block;
}
.gallery__photo {
	margin-top: 200px;
    display: flex;
    justify-content: center;
}
.gallery__photo:first-child {
	margin-top: 100px;
}
.gallery__photo:nth-child(even) {
	flex-direction: row-reverse;
}
.gallery__photo:nth-child(5n) {
	margin-right: 0;
}
.gallery__photo-img {
	width: 100%;
	opacity: 0;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	transform: translateX(100px);
	min-width: 200px;
}
.gallery__photo-data {
	margin-right: 50px;
	align-self: center;
}
.gallery__photo:nth-child(even) .gallery__photo-data {
	margin-left: 50px;
}
.gallery__photo-title {
	text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    color: var(--darkgrey);
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 0;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-delay: 400ms;
}
.gallery__photo-attr {
	margin-top: 20px;
    color: var(--darkgrey);
    font-size: 14px;
    font-style: italic;
    opacity: 0;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-delay: 450ms;
}
.gallery__link {
	margin-top: 5px;
	color: var(--grey);
	text-decoration: underline;
}
.gallery__tags {
	margin-top: 100px;
    color: var(--darkgrey);
    font-size: 12px;
}
.gallery__tag {
	margin-right: 20px;
	opacity: 0;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
.gallery__tag:nth-child(1) {
	animation-delay: 500ms;
}
.gallery__tag:nth-child(2) {
	animation-delay: 550ms;
}
.gallery__tag:nth-child(3) {
	animation-delay: 600ms;
}
.gallery__tag:nth-child(4) {
	animation-delay: 650ms;
}
.gallery__tag:nth-child(5) {
	animation-delay: 700ms;
}

.gallery--active .gallery__photo-img {
	animation-name: image;
}
.gallery--active .gallery__photo-title {
	animation-name: fade;
}
.gallery--active .gallery__photo-attr {
	animation-name: fade;
}
.gallery--active .gallery__tag {
	animation-name: fade;
}

@keyframes image {
	from { 
		opacity: 0; 
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fade {
	from { opacity: 0 }
	to { opacity: 1 }
}

@media all and (max-width: 768px) {
	.gallery__photo-title {
		font-size: 18px;
	}
}

@media all and (max-width: 414px) {
	.gallery__photo-title {
		font-size: 16px;
	}
	.gallery__photo-img {
		min-width: 150px;
	}	
	.gallery .gallery__photo {
		flex-direction: column-reverse;
		margin-right: 0;
		margin-left: 0;
	}
	.gallery .gallery__photo .gallery__photo-data {
		margin-right: 0;
		margin-left: 0;
		margin-top: 10px;
		align-self: flex-start;
	}
	.gallery__photo {
		margin-top: 100px;
	}
	.gallery__tags {
		margin-top: 50px;
	}
}
